<launch>
    <param name="/use_sim_time" value="false" />
    <arg name="project" default="lio_sam"/>

    <!-- Parameters -->
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
    
    <!-- Run a passthrough filter to clean NaNs -->
    <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
        <remap from="~input" to="/rslidar_points" />
        <remap from="/passthrough/output" to="/velodyne_points" />
        
        <rosparam>
        filter_field_name: z
        filter_limit_negative: True
        </rosparam>
    
    <rosparam>
        filter_field_name: x
        filter_limit_negative: True
        </rosparam>
    
    <rosparam>
        filter_field_name: y
        filter_limit_negative: True
        </rosparam>
    </node>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params_yunyingche.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_relocolize_yunyingche.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
